<div class="span6 hero-unit">
		<h3>New User Registration</h3>
		<form name="form" class="form-horizontal" novalidate>
		  <div class="control-group">
		    <label class="control-label" for="inputUsername">Username</label>
		    <div class="controls">
		      <input type="text" name="inputUsername" id="inputUsername" placeholder="Username" ng-model="newUser.username" required unique-username ng-model-options="{ updateOn: 'blur' }">
		      <!-- <p ng-show="form.inputUsername.$error.required && !form.inputUsername.$pristine" class="help-block">Username is required.</p> -->
		      <p ng-show="form.inputUsername.$error.required && !form.inputUsername.$pristine" class="help-block">Username is required.</p>
		      <p ng-show="form.inputUsername.$error.uniqueUsernameValidator && !form.inputUsername.$pristine" class="help-block">Username already exists.</p>
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputFirstname">Firstname</label>
		    <div class="controls">
		      <input type="text" id="inputFirstname" placeholder="Firstname" ng-model="newUser.firstName" ng-model-options="{ updateOn: 'blur' }">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputLastname">Lastname</label>
		    <div class="controls">
		      <input type="text" id="inputLastname" placeholder="Lastname" ng-model="newUser.lastName">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputEmail">Email</label>
		    <div class="controls">
		      <input type="email" name="email" id="inputEmail" placeholder="Email" ng-model="newUser.email" required="" unique-email ng-model-options="{ updateOn: 'blur' }">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputMobile">Mobile</label>
		    <div class="controls">
		      <input type="text" name="mobile" id="inputMobile" placeholder="Mobile" ng-model="newUser.mobile" unique-mobile ng-model-options="{ updateOn: 'blur' }">
		    </div>
		  </div>		  
		  <div class="control-group">
		    <label class="control-label" for="inputPassword">Password</label>
		    <div class="controls">
		      <input type="password" id="inputPassword" placeholder="Password" ng-model="newUser.password" required>
		    </div>
		  </div>
		   <div class="control-group">
		    <label class="control-label" for="inputRepeatPassword">Repeat password</label>
		    <div class="controls">
		      <input type="password" id="inputRepeatPassword" placeholder="Password" ng-model="repeatPassword" required>
		    </div>
		  </div>		  
		  <div class="control-group">
		    <div class="controls">
		      <div class="btn btn-primary" ng-click="createUser()" ng-disabled="validate() == false">Create user</div>
		      <div class="btn btn-primary" ng-click="reset()" ng-disabled="validate() == false">Clear form</div>
		    </div>
<!-- 		   	<div class="controls">
		      <div class="btn btn-primary pull-right" ng-click="reset()" ng-disabled="validate() == false">Clear form</div>
		    </div> -->
		    <div class="controls">
		    	<div class="error">{{righterrormessage}}</div>
		    </div>
		    <div class="controls">
		    	<div class="error">{{okmessage}}</div>
		    </div>
		  </div>
		  <div class="control-group">
		    <div class="controls">
		      <div class="btn btn-primary" ng-click="googleRegistration()">Register with Google</div>
		    </div>
		  </div>
		  <div class="control-group">
		    <div class="controls">
		      <div class="btn btn-primary" ng-click="facebookRegistration()">Register with Facebook</div>
		    </div>
		  </div>
		</form>
	</div>